   _____      _______ _____        ______ _____ _______     _____              ____            
  / ____|  /\|__   __/ ____|      |  ____/ ____|__   __|   |  __ \            / __ \           
 | (___   /  \  | | | |  __ ______| |__ | (___    | |______| |  | | _____   _| |  | |_ __  ___ 
  \___ \ / /\ \ | | | | |_ |______|  __| \___ \   | |______| |  | |/ _ \ \ / / |  | | '_ \/ __|
  ____) / ____ \| | | |__| |      | |    ____) |  | |      | |__| |  __/\ V /| |__| | |_) \__ \
 |_____/_/    \_\_|  \_____|      |_|   |_____/   |_|      |_____/ \___| \_/  \____/| .__/|___/
                                                                                    | |        
                                                                                    |_|        
Image Version : {{ img_version }} - Ubuntu 20.04 LTS
Build Date : {{ build_date }}
